<div class="container">
  <%= simple_form_for @realisation do |f| %>
    <%= f.input :title, label: "Titre de l'article" %>
    <%= f.input :description, label: "Contenu de l'article" %>
    <%= f.input :published, as: :boolean, label: "Publier", :input_html => { checked: true } %>
    <%= f.input :photos, as: :file, input_html: { multiple: true, id: 'photo-input' } %>
    <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
    <%= f.button :submit, "Enregister les modifications", :class => "btn btn-primary w-100" %>
  <% end %>
</div>
