


<div class="container">
  <%= form_with(model: @article) do |form| %>
    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
  <div class="field">
      <%= form.label :content %>
      <%= form.rich_text_area :content %>
    </div>
    <div class="field">
      <button type="submit" class="btn btn-success">Save</button>
    </div>
  <% end %>
</div>
