<div class="container">
  <%= simple_form_for @banner do |f| %>
    <%= f.input :title %>
    <%= f.input :photo, as: :file %>
    <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
    <%= f.button :submit, "Valider", :class => "btn btn-primary w-100" %>
  <% end %>
</div>
