<%= link_to "Ajouter un logo client", new_clientlogo_path, class: "btn btn-primary" %>
<table class="table table-bordered table-hover my-3">
  <thead>
    <tr>
      <th style="width: 1%"></th>
      <th style="width: auto">Aperçu</th>
      <th style="width: auto">Actions</th>
      <th style="width: auto">Statut</th>
    </tr>
  </thead>
  <tbody data-controller="drag" data-drag-url="/clientlogos/:id/move">
    <% all_clientlogos.order(position: :desc).each do |logo| %>
      <tr data-drag-target="row" data-id="<%= logo.id %>">
        <th scope="row"><%= logo.position %></th>
        <% if logo.photo.attached? %>
          <td><%= cl_image_tag logo.photo.key, height: 50 %></td>
        <% else %>
          <td><%= logo.name %></td>
        <% end %>
        <td><%= link_to "Supprimer", clientlogo_path(logo.id), method: :delete, class: "btn btn-outline-primary btn-sm", :remote => true, data: {confirm: "Supprimer définitivement ?", controller: 'destroy', action: 'destroy#delete' } %></td>
        <% if logo.published == true %>
          <td> 
            <div 
              id="logo-toggler-<%= logo.id %>" 
              class="btn btn-outline-success onoff btn-sm" 
              data-controller="publisher" 
              data-action="click->publisher#publish" 
              data-publisher-url="<%= publish_clientlogo_path(logo.id) %>">
              En ligne
            </div>
          </td>
        <% else %>
          <td> 
            <div 
              id="logo-toggler-<%= logo.id %>" 
              class="btn btn-outline-danger onoff btn-sm" 
              data-controller="publisher" 
              data-action="click->publisher#publish" 
              data-publisher-url="<%= publish_clientlogo_path(logo.id) %>">
              Hors ligne
            </div>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>