<% unless @current_verbatims.empty? %>

<div id="#text-carroussel<%= @current_verbatims %>" class="carousel slide" data-ride="carousel" data-interval="7000" data-pause="false">
<!--  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol> -->
  <div class="carousel-inner">
    <%  @current_verbatims.each_with_index do |verbatim, index|%>
      <% if index == 0 %>
        <div class="carousel-item active">
          <div class="verbatim">
            <div class="verbatim-infos">
              <p> <%= verbatim.citation %> </p>
              <p> <%= verbatim.author %></p>
            </div>
            <div class="verbatim-photo">
              <% if verbatim.photo.attached? %>
                <%= cl_image_tag verbatim.photo.key %>
              <% else %>
                <img src="https://www.kabylieclim.com/wp-content/uploads/2015/09/Pas-dimage-disponible.jpg" alt="">
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="carousel-item">
          <div class="verbatim">
            <div class="verbatim-infos">
              <p> <%= verbatim.citation %> </p>
              <p> <%= verbatim.author %></p>
            </div>
            <div class="verbatim-photo">
              <% if verbatim.photo.attached? %>
                <%= cl_image_tag verbatim.photo.key %>
              <% else %>
                <img src="https://www.kabylieclim.com/wp-content/uploads/2015/09/Pas-dimage-disponible.jpg" alt="">
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div><!--
  <a class="carousel-control-prev" href="#text-carroussel<%= @current_verbatims %>" role="button" data-slide="prev">
    <i class="fas fa-chevron-left"></i>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#text-carroussel<%= @current_verbatims %>" role="button" data-slide="next">
    <i class="fas fa-chevron-right"></i>
    <span class="sr-only">Next</span>
  </a> -->
</div>


<% end %>

















