    <div class="container" data-controller="admin-menu">
      <div class="row">
        <div class="col-3">
          <div class="menu">
            <ul class="list-group" style="list-style-type: none;">
              <li data-action="click->admin-menu#display"><%= link_to "Photos de la bannière", admin_path,class: "list-group-item list-group-item-action text-decoration", data: {id: 'banners'}%></li>
              <li data-action="click->admin-menu#display"><%= link_to "Compteur de m²", admin_path,class: "list-group-item list-group-item-action text-decoration-none", data: {id: 'counter'} %></li>
              <li data-action="click->admin-menu#display"><%= link_to "Logos", admin_path,class: "list-group-item list-group-item-action text-decoration-none", data: {id: 'logos'} %></li>
              <li data-action="click->admin-menu#display"><%= link_to "Verbatims", admin_path,class: "list-group-item list-group-item-action text-decoration-none", data: {id: 'verbatims'} %></li>
              <li data-action="click->admin-menu#display"><%= link_to "Réalisations", admin_path,class: "list-group-item list-group-item-action text-decoration-none", data: {id: 'realisations'} %></li>
              <li data-action="click->admin-menu#display"><%= link_to "Articles", admin_path,class: "list-group-item list-group-item-action text-decoration-none", data: {id: 'articles'} %></li>
            </ul>
          </div>    
        </div>
        <div class="col-9">
          <div class="content" data-admin-menu-target="content">
            <div class="hidden-admin-table" id="banners" data-admin-menu-target="table">
              <%= render partial: 'shared/banners_row', locals: {all_banners: @all_banners} %>
            </div>
            <div class="hidden-admin-table" id="counter" data-admin-menu-target="table">
              <%= render partial: 'shared/counter_row', locals: {displayed_counter: @displayed_counter} %>
            </div>
            <div class="hidden-admin-table" id="logos" data-admin-menu-target="table">
              <%= render partial: 'shared/logos_row', locals: {all_clientlogos: @all_clientlogos} %>
            </div>
            <div class="hidden-admin-table" id="verbatims" data-admin-menu-target="table">
              <%= render partial: 'shared/verbatims_row', locals: {all_verbatims: @all_verbatims} %>
            </div>
            <div class="hidden-admin-table" id="realisations" data-admin-menu-target="table">
              <%= render partial: 'shared/realisations_row', locals: {all_realisations: @all_realisations} %>
            </div>
            <div class="hidden-admin-table" id="articles" data-admin-menu-target="table">
              <%= render partial: 'shared/articles_row', locals: {all_articles: @all_articles} %>
            </div>
          </div>
        </div>
      </div>
    </div>
    
