<div class="container">

<div class="services">


      <div class="serviceinfos1">
        <h2>Fresques décoratives</h2>
        <p>
          Nous réalisons des décors uniques pour personnaliser les lieux de travail, de détente ou de passage
          Pour qui ? Entreprises, coworking, bailleurs, architectes, aménageurs d’espaces, EHPAD, ...
        </p>
          <%= link_to "Nous contacter", contact_path %>
      </div>
      <div class="servicephoto1">
        <%= link_to realisations_path(query:['Fresques décoratives']) do %>
          <%= image_tag "https://picsum.photos/200/300", alt: 'Fresques décoratives' %>
        <% end %>
      </div>




      <div class="serviceinfos2">
        <h2>Art urbain</h2>
        <p>
          Nous réalisons des oeuvres peintes à la main pour embellir l’espace urbain et mettre l’art à la portée du plus grand nombre
          Pour qui ? Collectivités, bailleurs, gestionnaires de parking, ...
        </p>
        <%= link_to "Nous contacter", contact_path %>
      </div>
        <div class="servicephoto2">
        <%= link_to realisations_path(query:['Art Urbain']) do %>
          <%= image_tag "https://picsum.photos/200/300", alt: 'Art Urbain' %>
        <% end %>
      </div>

      <div class="serviceinfos3">
        <h2>Publicité peintes</h2>
        <p>
          Nous réalisons des publicités extérieures grand format peintes à la main pour capter l’attention des passants
          Pour qui ? Annonceurs, agences de publicité, agences de communication...
        </p>
          <%= link_to "Nous contacter", contact_path %>
      </div>
      <div class="servicephoto3">
        <%= link_to realisations_path(query:['Publicités peintes']) do %>
          <%= image_tag "https://picsum.photos/200/300", alt: 'Publicités peintes' %>
        <% end %>
      </div>


      <div class="serviceinfos4">
        <h2>Signalétique & enseigne</h2>
        <p>
          Nous réalisons des signalétiques originales et esthétiques pour aider vos clients et vos collaborateurs à se repérer dans vos espaces.
          Pour qui ? Entreprises, hôtels, établissements de santé, centres commerciaux,...
        </p>
        <%= link_to "Nous contacter", contact_path %>
      </div>
      <div class="servicephoto4">
      <%= link_to realisations_path(query:['Signalétique']) do %>
        <%= image_tag "https://picsum.photos/200/300", alt: 'Signalétique' %>
      <% end %>
      </div>

</div>
</div>
