<div class="container">

    <div class="realisations-navbar">
      <%= link_to 'Nos réalisations', realisations_path %>
      <div class="realisations-navbar-filters">

        <div class="filter">
          <%= link_to 'Fresques décoratives', realisations_path(query:['Fresques décoratives']) %>
        </div>
        <div class="filter">
          <%= link_to 'Art Urbain', realisations_path(query:['Art Urbain']) %>
        </div>
        <div class="filter">
          <%= link_to 'Publicités peintes', realisations_path(query:['Publicités peintes']) %>
        </div>
        <div class="filter">
          <%= link_to 'Signalétique', realisations_path(query:['Signalétique']) %>
        </div>
      </div>
    </div>

  <div class="realisations-grid">

    <% @realisations.each do |realisation| %>
      <div class="realisation">
        <%= link_to realisation_path(realisation) do %>
          <% if realisation.photos.attached? %>
            <%= cl_image_tag realisation.photos.first.key, crop: :fill %>
          <% else %>
            <img src="https://www.kabylieclim.com/wp-content/uploads/2015/09/Pas-dimage-disponible.jpg" alt="">
          <% end %>
        <% end %>
        <%= realisation.title %>
      </div>
    <% end %>

  </div>
</div>
