<div class="container">

  <div class="realisation-infos">

     <div class="realisation-list">
        <p> <strong> Client: </strong> <%= @realisation.client %> </p>
        <p> <strong> Localisation: </strong> <%= @realisation.localization %> </p>
        <p> <strong> Agence: </strong> <%= @realisation.agency %> </p>
        <p> <strong> Artiste: </strong> <%= @realisation.artist %> </p>
        <p> <strong> Surface: </strong> <%= @realisation.surface %> m²</p>
        <p> <strong> Durée de réalisation: </strong> <%= @realisation.duration %> jours </p>
        <p> <strong> Crédits photos: </strong> <%= @realisation.photo_credits %> </p>

    </div>
    <div class="realisation-text">
      <p> <strong> Brief client: </strong> <%= @realisation.description %> </p>
    </div>
  </div>


  <div class="realisations-grid">

    <% @realisation.photos.order(:position).each do |photo| %>
      <div class="realisation">
          <%= cl_image_tag photo.photos.first.key, crop: :fill %>
      </div>
    <% end %>

  </div>
</div>
