<!DOCTYPE html>
<html>
  <head>
    <title>MonsieurPeinture</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

 <body>
    <% if !(params[:action] == 'admin') %>
      <%= render 'shared/navbar' %>
      <div class="content-wrapper">
        <%= render 'shared/flashes' %>
        <%= yield %>
      </div>
    <% else %>
      <%= render 'shared/flashes' %>
      <%= yield %>
    <% end %>
    <% if !(params[:action] == 'admin') %>
      <%= render 'shared/footer' %>
    <% end %>

    <script src="https://cdn.jsdelivr.net/combine/npm/jquery@1.11,npm/midnight.js@1.1"></script>
    <script src="//cdn.jsdelivr.net/npm/midnight.js@1.1/dist/midnight.jquery.min.js"></script>
    <script>
    // Start midnight
    $(document).ready(function(){
      // Change this to the correct selector for your nav.
      $('div.navbar').midnight();
    });
  </script>
  </body>

</html>
